@import "tailwindcss";

@theme{
  /* PALETA DE COLORES */
   --color-episrubi-background: #FFA932;
   --color-episrubi-primary: #7EBD46;
   --color-episrubi-secondary: #85D147;
   --color-episrubi-accent: #71BF2C;
  /*FIN PALETA DE COLORES */
  --font-bespoke-300: "BespokeSerifLight";
  --font-bespoke-italic-300: "BespokeSerifLightItalic";

  --font-bespoke-400: "BespokeSerifRegular";

  --font-bespoke-500: "BespokeSerifMedium";
  --font-bespoke-italic-500: "BespokeSerifMediumItalic";

  --font-bespoke-700: "BespokeSerifBold";
  --font-bespoke-italic-700: "BespokeSerifBoldItalic";

  --font-bespoke-800: "BespokeSerifExtraBold";
  --font-bespoke-italic-800: "BespokeSerifExtraBoldItalic";


}

@font-face {
  font-family: BespokeSerifLight;
  font-style: bold;
  font-weight: 300;
  font-display: swap;
  src: url("/fonts/BespokeSerif-Light.woff2") format("woff2");
}

@font-face {
  font-family: BespokeSerifLightItalic;
  font-style: italic;
  font-weight: 300;
  font-display: swap;
  src: url("/fonts/BespokeSerif-LightItalic.woff2") format("woff2");
}


@font-face {
  font-family: BespokeSerifRegular;
  font-style: bold;
  font-weight: 400;
  font-display: swap;
  src: url("/fonts/BespokeSerif-Regular.woff2") format("woff2");
}

@font-face {
  font-family: BespokeSerifMedium;
  font-style: bold;
  font-weight: 500;
  font-display: swap;
  src: url("/fonts/BespokeSerif-Medium.woff2") format("woff2");
}

@font-face {
  font-family: BespokeSerifMediumItalic;
  font-style: italic;
  font-weight: 500;
  font-display: swap;
  src: url("/fonts/BespokeSerif-MediumItalic.woff2") format("woff2");
}


@font-face {
  font-family: BespokeSerifBold;
  font-style: bold;
  font-weight: 700;
  font-display: swap;
  src: url("/fonts/BespokeSerif-Bold.woff2") format("woff2");
}

@font-face {
  font-family: BespokeSerifBoldItalic;
  font-style: italic;
  font-weight: 700;
  font-display: swap;
  src: url("/fonts/BespokeSerif-BoldItalic.woff2") format("woff2");
}


@font-face {
  font-family: BespokeSerifExtraBold;
  font-style: extrabold;
  font-weight: 800;
  font-display: swap;
  src: url("/fonts/BespokeSerif-Extrabold.woff2") format("woff2");
}

@font-face {
  font-family: BespokeSerifExtraBoldItalic;
  font-style: italic;
  font-weight: 800;
  font-display: swap;
  src: url("/fonts/BespokeSerif-ExtraboldItalic.woff2") format("woff2");
}

/* ANIMACIONES */

.loader{
 will-change: transform;
 opacity: 1;
 animation: text-disappear 0.8s ease 4s forwards;
}

.intro-animation-up{
  will-change: transform;
  transform: translateY(230px);
  animation: text-move 0.8s ease forwards;
}

.intro-animation-left{
  will-change: transform;
  opacity: 0;
  transform: translateX(230px);
  animation: text-move-x 0.8s ease 1s forwards;
}

.intro-animation{
  will-change: transform;
  opacity: 0;
  animation: text-move 1s ease 2s forwards;
}

.appear-animation{
  will-change: transform;
  opacity: 0;
  animation: text-appear 0.8s ease forwards;
}

.carousel-logo-group{
  will-change: transform;
  animation: carousel-scrolling 20s linear infinite ;
}

.item-hidden{
  opacity: 0;
  transform: translateY(12px);
}

.item-hidden-background{
  opacity: 0;
}

.item-animated{
   animation: initial-animation 0.8s ease 0.5s forwards;
}

.item-animated-background{
  animation: initial-animation-background 0.8s ease 0.5s forwards;
}

@keyframes text-move {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes text-move-x {
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes text-disappear {
  to {
    opacity: 0;
    display: none;
  }
}

@keyframes text-appear {
    to{
      opacity: 1;
    }
  }

  @keyframes carousel-scrolling {
    0% {
      transform: translateX(0);
    }
    100%{
      transform: translateX(-100%);
    }
  }

  @keyframes initial-animation {
    to{
      opacity: 1;
      transform: translateY(0);
    }
  }

    @keyframes initial-animation-background {
    to{
      opacity: 1;
    }
  }


 .carousel {
    /* ... */
    &:hover .carousel-logo-group {
      animation-play-state: paused;
    }
  }

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark){
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

